@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Monofett);

body {
    padding:50px;
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#777;
    font-weight:300;
    background-color:rgb(34,34,34);
}

code, pre {
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color:#333;
    font-size:12px;
}

div#content {
    width:300px;
    height:300px;
    position:absolute;
    left:50%; 
    top:50%;
    margin:-100px 0 0 -150px;
}

table#logo {
    margin-left: auto; 
    margin-right: auto
}

div.logo_text {
    font-family: 'Monofett', sans-serif;
    font-size:60px;
}
